/* NYSE Typeface Font Definitions */
@font-face {
  font-family: 'Nyse';
  src: url('./Nysé-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nyse';
  src: url('./Nysé-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nyse';
  src: url('./Nysé-Book.otf') format('opentype');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nyse';
  src: url('./Nysé-BookItalic.otf') format('opentype');
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nyse';
  src: url('./Nysé-Demi.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nyse';
  src: url('./Nysé-DemiItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nyse';
  src: url('./Nysé-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nyse';
  src: url('./Nysé-BoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nyse';
  src: url('./Nysé-Heavy.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nyse';
  src: url('./Nysé-HeavyItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nyse';
  src: url('./Nysé-Black.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nyse';
  src: url('./Nysé-BlackItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}